

    <section >
      <button class="reset-btn" (click)="resetPost()">X</button>
        <div class="post">
          <p>{{ post.txt }}</p>
         <app-user-preview [owner]="post.owner"/>
          <p>Posted on: {{ post.createdAt | date:'medium' }}</p>
          <p>Last Updated: {{ post.updatedAt | date:'medium' }}</p>
      
          <div class="likes">
            <h3>Likes</h3>
            <ul>
              <li *ngFor="let userId of post.likedBy">{{ userId }}</li>
            </ul>
          </div>
      

        
         <app-comment-list *ngIf="post.comments.length" [comments]="post.comments"/>
      
          <!-- <div class="add-comment">
            <h3>Add Comment</h3>
            <form (submit)="addComment($event)">
              <input type="text" placeholder="Comment" [(ngModel)]="comment.txt" name="txt">
              <button>Add</button>
            </form>
          </div> -->
        </div>
      </section>

     
      
   
      

