

    <section >
      <button class="reset-btn" (click)="resetPost()">X</button>
        <div class="post">
          <p>{{ post.txt }}</p>
          <p>Posted by: {{ post.owner.username }}</p>
          <img [src]="post.owner.imgUrl" alt="User Image" width="50">
          <p>Posted on: {{ post.createdAt | date:'medium' }}</p>
          <p>Last Updated: {{ post.updatedAt | date:'medium' }}</p>
      
          <div class="likes">
            <h3>Likes</h3>
            <ul>
              <li *ngFor="let userId of post.likedBy">{{ userId }}</li>
            </ul>
          </div>
      
          <div class="comments" *ngIf="post.comments.length">
            <h3>Comments</h3>
            <div *ngFor="let comment of post.comments">
              <p>{{ comment.text }}</p>
              <p>Comment by: {{ comment.owner.username }}</p>
              <img [src]="comment.owner.imgUrl" alt="User Image" width="50">
              <p>Commented on: {{ comment.createdAt | date:'medium' }}</p>
            </div>
          </div>
        </div>
      </section>

     
      
   
      

